.tc-menu.tc-menu-dark .tc-menu-item-selected,
.tc-menu-submenu-popup.tc-menu-dark .tc-menu-item-selected {
  box-shadow: 0px -3px 0px #1899ff inset;
  background-color: transparent !important;
}
.tc-logo.tc-menu-item-selected {
  box-shadow: none !important;
  background-color: transparent !important;
}
