/*
 Loosely based on the Midnight Textmate theme
 Based on the night theme 
 https://raw.githubusercontent.com/codemirror/CodeMirror/master/theme/night.css
*/
.cm-s-typecobol {
  color: white;
  background: @layout-header-background;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.cm-s-typecobol span.cm-comment {
  color: #8900d1;
}
.cm-s-typecobol span.cm-atom {
  color: #845dc4;
}
.cm-s-typecobol span.cm-number,
.cm-s-typecobol span.cm-attribute {
  color: #ffd500;
}
.cm-s-typecobol span.cm-keyword {
  color: #599eff;
}
.cm-s-typecobol span.cm-string {
  color: #37f14a;
}
.cm-s-typecobol span.cm-meta {
  color: #7678e2;
}
.cm-s-typecobol span.cm-variable-2,
.cm-s-typecobol span.cm-tag {
  color: #99b2ff;
}
.cm-s-typecobol span.cm-variable-3,
.cm-s-typecobol span.cm-def,
.cm-s-typecobol span.cm-type {
  color: white;
}
.cm-s-typecobol span.cm-bracket {
  color: #8da6ce;
}
.cm-s-typecobol span.cm-builtin,
.cm-s-typecobol span.cm-special {
  color: #ff9e59;
}
.cm-s-typecobol span.cm-link {
  color: #845dc4;
}
.cm-s-typecobol span.cm-error {
  color: #9d1e15;
}
